@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/home-index.js"></script>
}

<div data-ng-controller="homeIndexController">
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages...</p>
        <div>Message Count: {{ dataCount }}</div>
    </div>

    <div class="messages">
        <div class="message row" data-ng-repeat="msg in data">
            <div class="title span10">{{msg.title}}</div>
            <div class="date span2">{{msg.created}}</div>
            <div class="contents span12">{{msg.body}}</div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-button">Reply</button>
            </div>
            <div class="replies span12">
                <div class="reply">
                    <div class="created pull-right">
                        Nov. 13, 2014
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipsiscing elit
                    </div>
                </div>
                <div class="reply">
                    <div class="created pull-right">
                        Nov. 13, 2014
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipsiscing elit
                    </div>
                </div>
                <div class="reply">
                    <div class="created pull-right">
                        Nov. 13, 2014
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipsiscing elit
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>