@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}

@section scripts {
    <script src="~/Scripts/home-index.js"></script>
}

@* tell angular where to inject html from the topicsView template *@
<div data-ng-view=""></div>

