<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages...</p>
        <!-- getting data from angular! -->
        <div>Message Count: {{ data.length }}</div>
    </div>

    <div>
        <a href="#/newmessage">Add New Message</a>
    </div>

    <!-- bootstrap progress bar-->
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <div class="messages">
        <!--  dynamically build with angular with server data*-->
        <div class="message row" data-ng-repeat="msg in data">
            <div class="title span10">{{ msg.title }}</div>
            <div class="date span2">{{ msg.created | date:"medium" }}</div>
            <div class="contents span12">{{ msg.body }}</div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-button">Reply</button>
            </div>
            <div class="replies span12">
                <div class="reply" data-ng-repeat="reply in msg.replies">
                    <div class="created pull-right">{{ reply.created | date:"medium" }}</div>
                    <div class="content">{{ reply.body }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
